<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My CRUD in NodeJS</title>
</head>
<body>

    <h2>Registrar Livro<h2>
    <form action="/livro" method="POST">
        <input type="text" placeholder="Titulo" name="titulo">
        <input type="text" placeholder="Descrição" name="descricao">
        <input type="text" placeholder="Editora" name="editora">
        <input type="date" name="data">
        <input type="text" placeholder="Assunto" name="assunto">
        <button type="submit">Salvar</button>
    </form> 

</body>
</html>