<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My CRUD in NodeJS</title>
</head>
<body>

    <h2>Registrar<h2>
    <form action="/user" method="POST">
        <input type="text" placeholder="Nome" name="firstname">
        <input type="text" placeholder="Sobrenome" name="lastname">
        <input type="text" placeholder="CPF" name="cpf">
        <button type="submit">Submit</button>
    </form> 

</body>
</html>