<%- contentFor('body') %>
<div>
    <h2>Registrar<h2>
    <form action="/user" method="POST">
        <input type="text" placeholder="Nome" name="firstname">
        <input type="text" placeholder="Sobrenome" name="lastname">
        <input type="text" placeholder="CPF" name="cpf">
        <button type="submit">Salvar</button>
    </form> 
</div>
