<title>Blibioteca universitátia</title>
<div>
    <h2>Navegar para<h2>
            <div class="row">
                <div class="col lg-2">
                    <div class="card shadow bg-white rounded mb-2"
                        style="vertical-align: middle;">
                        <div class="card-body">
                            <h5 class="card-title">Livros</h5>
                            <a href="/livro/create" class="card-link">Criar</a>
                            <a href="/livro" class="card-link">Listar</a>
                        </div>
                    </div>
                </div>
                <div class="col lg-2">
                    <div class="card shadow bg-white rounded mb-2"
                        style="vertical-align: middle;">
                        <div class="card-body">
                            <h5 class="card-title">Editora</h5>
                            <a href="/editora/create" class="card-link">Criar</a>
                            <a href="/editora" class="card-link">Listar</a>
                        </div>
                    </div>
                </div>
                <div class="col lg-2">
                    <div class="card shadow bg-white rounded mb-2"
                        style="vertical-align: middle;">
                        <div class="card-body">
                            <h5 class="card-title">Publicação</h5>
                            <a href="/pub/create" class="card-link">Criar</a>
                            <a href="/pub" class="card-link">Listar</a>
                        </div>
                    </div>
                </div>
            </div>
</div>