<title>Blibioteca universitátia</title>
<div>
    <h2>Navegar para<h2>
    <ul>
        <li>
            <a href='/user'>Usuário</a>
        </li>
        <li>
            <a href='/pub'>Publicações</a>
        </li>
        <li>
            <a href='/editora'>Editora</a>
        </li>
    </ul>
</div>
