<title>Blibioteca universitátia</title>
<div>
    <h2>Navegar para<h2>
    <ul>
        <li>
            <a href='/pub'>Publicações</a>
        </li>
        <li>
<<<<<<< HEAD
            <a href='/livro'>Livros</a>
        </li>

        <li>
            <a href='/editora'>Editora</a>
=======
            <a href='/editora'>Editora</a>
        </li>
        <li>
            <a href='/livro'>Livros</a>
>>>>>>> 7a852dc6b9b842f9367fa5b3321564a15da6873d
        </li>
    </ul>
</div>
