<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>My CRUD in NodeJS</title>
    </head>
    <body>
        <h2>Editar Registro</h2>
        <% data.forEach(function(details) { %>
        <form action="/user/<%= details._id %>" method="POST">
            <input type="text" value="<%= details.firstname %>" name="name" />
            <input type="text" value="<%= details.lastname %>" name="surname" />
            <br />
            <button><a href="/user">Todos</a></button>
            <button type="submit">Editar</button>
        </form>
        <% }) %>
    </body>
</html>
