<%- contentFor('body') %>
<div>
    <table>
        <thead>
            <th>Razão Social</th>
            <th>Nome</th>
            <th>cnpj</th>
            <th>email</th>
            <th>telefone de contato</th>
        </thead>
    </table>
</div>